@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
}
/* swiper */
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
/* home */
.home-abut{
  border: 5px solid white;
}